@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  /* colors */
  --grey: #b1b1b1;
  --light-grey: #efefef;
  --white: #FFFFFF;

  /* table */
  --default-table-border: 1px solid var(--grey);
  --default-table-border-radius: 20px;
  --default-table-cells-min-width: 150px;
  --default-table-cells-padding: 10px 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", "sans-serif" !important;
}